<div class="jumbotron text-center">
  </br>
  <h2>Crud using NodeJs Backend - Firebase Firestore Cloud Database</h2> <br>
  <div class="container">
  <button type="button" class="btn btn-default"><a href="/login">Login</a></button>  
  <button type="button" class="btn btn-default"><a href="/register">Register</a></button>
</div>
</div>
